<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <a ui-sref="#" class="list-group-item active">板块</a>
                    <a ui-sref="index.blankmng.blank" class="list-group-item">板块管理</a>
                    <a ui-sref="index.blankmng.addBlank" class="list-group-item">新增板块</a>
                    <a ui-sref="index.blankmng.stock" class="list-group-item">股票管理</a>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="addUserType()">新增用户</button>
            </div>
        </div>-->
    </div>
    <div class="col-md-10">
        <div ui-view></div>
    </div>
</div>
