<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">股票先机后台管理系统</a>
    </div>
    <ul class="nav navbar-nav">
        <li>
            <a ui-sref="index">首页</a>
        </li>
        <li>
            <a ui-sref="index.blankmng">股票与板块</a>
        </li>
        <li>
            <a ui-sref="index.udp-view">udp表数据查看</a>
        </li>
        <li>
            <a ui-sref="index.stock">股票信息查询</a>
        </li>
        <li>
            <a ui-sref="index.settings">系统设置</a>
        </li>
    </ul>
</nav>
