<div ng-controller="UdpViewCtrl">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <tr>
                <td class="text-right">概念股-涨停占比</td>
                <td class="text-left"><input type="checkbox" ng-model="tables.table11"></td>
                <td class="text-right">概念股-上涨占比</td>
                <td class="text-left"><input type="checkbox" ng-model="tables.table12"></td>
            </tr>
            <tr>
                <td class="text-right">概念股-资金流入</td>
                <td class="text-left"><input type="checkbox" ng-model="tables.table13"></td>
                <td class="text-right">UDP30天20%</td>
                <td class="text-left"><input type="checkbox" ng-model="tables.table2"></td>
            </tr>
            <tr>
                <td class="text-right">资金流强势逆转</td>
                <td class="text-left"><input type="checkbox" ng-model="tables.table3"></td>
                <td class="text-right">日期</td>
                <td class="text-left"><input type="text" ng-model="queryDate" date-picker="queryDate" max-view="year" min-view="date"
                                             class="ng-isolate-scope"></td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <button class="btn btn-default" ng-click="queryStock()">查询</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>股票id</th>
                <th>股票名称</th>
                <th ng-show="tables.table11">概念类型</th>
                <th ng-show="tables.table11">概念名称</th>
                <th ng-show="tables.table11">当天涨幅</th>
                <th ng-show="tables.table12">概念类型</th>
                <th ng-show="tables.table12">概念名称</th>
                <th ng-show="tables.table12">当天涨幅</th>
                <th ng-show="tables.table13">概念类型</th>
                <th ng-show="tables.table13">概念名称</th>
                <th ng-show="tables.table13">当天涨幅</th>
                <th ng-show="tables.table2">区间内资金流入比例</th>
                <th ng-show="tables.table2">当前价格</th>
                <th ng-show="tables.table2">区间涨幅</th>
                <th ng-show="tables.table2">当天涨幅</th>
                <th ng-show="tables.table3">收盘价</th>
                <th ng-show="tables.table3">涨跌幅</th>
                <th ng-show="tables.table3">分值</th>
                <th ng-show="tables.table3">周涨跌幅</th>
            </tr>
            <tr ng-repeat="stock in queryRes | orderBy : 'score':true ">
                <td>{{ stock.stockid }}</td>
                <td>{{ stock.stockname }}</td>
                <td ng-show="tables.table11">{{ stock.gainian_type1 }}</td>
                <td ng-show="tables.table11">{{ stock.gainian_name1 }}</td>
                <td ng-show="tables.table11">{{ stock.gains11 }}</td>
                <td ng-show="tables.table12">{{ stock.gainian_type2 }}</td>
                <td ng-show="tables.table12">{{ stock.gainian_name2 }}</td>
                <td ng-show="tables.table12">{{ stock.gains12 }}</td>
                <td ng-show="tables.table13">{{ stock.gainian_type3 }}</td>
                <td ng-show="tables.table13">{{ stock.gainian_name3 }}</td>
                <td ng-show="tables.table13">{{ stock.gains13 }}</td>
                <td ng-show="tables.table2">{{ stock.capital_inflow }}</td>
                <td ng-show="tables.table2">{{ stock.current_price }}</td>
                <td ng-show="tables.table2">{{ stock.gains2 }}</td>
                <td ng-show="tables.table2">{{ stock.today_gains }}</td>
                <td ng-show="tables.table3">{{ stock.close_price }}</td>
                <td ng-show="tables.table3">{{ stock.gains3 }}</td>
                <td ng-show="tables.table3">{{ stock.score }}</td>
                <td ng-show="tables.table3">{{ stock.week_gains }}</td>
            </tr>
        </table>
    </div>
</div>
