<div ng-controller="UdpViewCtrl">
    <div class="col-md-10 col-md-offset-1">
        <input type="checkbox" ng-model="tables.table11" ng-checked="queryStock">概念股-涨停占比
        <input type="checkbox" ng-model="tables.table12" ng-checked="queryStock">概念股-上涨占比
        <input type="checkbox" ng-model="tables.table13" ng-checked="queryStock">概念股-资金流入
        <input type="checkbox" ng-model="tables.table2" ng-checked="queryStock">资金流强势逆转
        <input type="checkbox" ng-model="tables.table3" ng-checked="queryStock">30天20%
    </div>
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-bordered table-hover">
            <tr>
                <th></th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>